<mat-card>
  <form [formGroup]="userForm" (ngSubmit)="commandSave(userForm)">
    <mat-input-container>
      <input
        matInput
        formControlName="firstName" placeholder="First Name"
        [ngClass]="{'error': isValid('firstName') }"
        style="width: 350px;">
    </mat-input-container>
    <mat-input-container>
      <input matInput
             [ngClass]="{'error': isValid('lastName') }"
             formControlName="lastName" placeholder="Last Name" style="width: 350px;">
    </mat-input-container>
    <mat-input-container>
      <input matInput
             [ngClass]="{'error': isValid('email') }"
             formControlName="email" placeholder="Email" type="email" style="width: 350px;">
    </mat-input-container>

    <br>
    <button mat-raised-button color="secondary">Save</button>
  </form>
</mat-card>
